<%- include('../components/header', {title:title,active:'culture'}); %>
<div class="sub-banner culture-banner">党建文化</div>
<div class="main-content">
    <div class="info-content">
        <div class="info-content-path">
            <span>您的位置：</span>
            <a href="/">首页</a>
            <span>></span>
            <span>党建文化</span>
        </div>
        <div class="culture-content-container" id="culture-content-container">
            <% list.forEach(function(item) { %>
            <div class="culture-content-table">
                <a href="/home/culture/<%= item.id %>" class="clearfix">
                    <img src="<%= item.imgUrl %>" alt="culture" class="fll">
                    <div class="culture-content-box flr">
                        <div class="culture-content-title"><%= item.title %></div>
                        <div class="culture-content-time"><%= moment(item.createdAt).format('YYYY-MM-DD') %></div>
                    </div>                    
                </a>
            </div>
            <% }) %>   
        </div>
        <div class="pagination pagination-centered">
            <ul id="pagination"></ul>
        </div>  
    </div>
</div>
<script type="text/javascript" src="/style/js/common.js"></script>
<script type="text/javascript" src="/style/js/pagination.js"></script>
<script type="text/javascript">
    var pagination = '<%- JSON.stringify(pagination) %>'
    var page = JSON.parse(pagination)
    function jump(pageNum){
        $.ajax({
            url: `/api/v1/system/common/culture?pageNum=${pageNum}&pageSize=${page.pageSize}&type=2`,
            type: 'GET',
            success: function(res) {
                // 处理响应数据
                console.log(res)
                var data = res.data;
                var html = "";
                res.data.rows.forEach(el => {
                    html+=`
                    <div class="culture-content-table">
                        <a href="/home/culture/${el.id}" class="clearfix">
                            <img src="${el.imgUrl}" alt="culture" class="fll">
                            <div class="culture-content-box flr">
                                <div class="culture-content-title">${el.title}</div>
                                <div class="culture-content-time">${new Date(el.createdAt).format('yyyy-MM-dd')}</div>
                            </div>                    
                        </a>
                    </div>
                    `
                });
                $("#culture-content-container").html(html)
                $('#pagination').jqPaginator('option', {
                    currentPage: pageNum,
                    totalPages:parseInt(data.count/page.pageSize)+1,
                });
            },
            error: function(xhr, status, error) {
                // 处理错误
                console.log(xhr, status, error)
            }
        });

    }
    $(document).ready(function() {		
        $('#pagination').jqPaginator({
            totalPages: parseInt(page.total/page.pageSize)+1,
            pageSize:page.pageSize,
            visiblePages: 5,
            currentPage: page.pageNum,
            first: '<li class="first"><a href="javascript:void(0);"><i class="first-arrow-ico"></i><\/a><\/li>',
            prev: '<li class="prev"><a href="javascript:void(0);"><i class="prev-arrow-ico"></i><\/a><\/li>',
            next: '<li class="next"><a href="javascript:void(0);"><i class="next-arrow-ico"></i><\/a><\/li>',
            last: '<li class="last"><a href="javascript:void(0);"><i class="last-arrow-ico"></i><\/a><\/li>',
            page: '<li class="page"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
            onPageChange: function (n) {
                // console.log("当前第" + n + "页");
            },
            itemClickHandler:function(n){
                // console.log(n)
                page.pageNum = n
                jump(n)
            }
        });
    });
</script>
<%- include("../components/footer") -%>

