<%- include('../components/header', {title:title,active:'notice',version: version}); %>
<div class="sub-banner">公告通知</div>
<div class="detail-menu-tabs">
    <div class="detail-menu clearfix">
        <a class="detail-menu-item active" href="javascript:void(0);">招标公告</a>
        <a class="detail-menu-item" href="/home/publicity">院务公开</a>
    </div>
</div>
<div class="main-content">
    <div class="info-content">
        <div class="info-content-path">
            <span>您的位置：</span>
            <a href="/">首页</a>
            <span>></span>
            <a href="/home/notice">公告通知</a>
            <span>></span>
            <a href="/home/notice">招标公告</a>
            <span>></span>
            <span>详情</span>
        </div>
        <div class="detail-content">
            <div class="detail-content-title"><%-detail.noticeTitle %></div>
            <div class="detail-content-updatetime">
                发布时间：<%= moment(detail.createdAt).format('YYYY-MM-DD HH:mm:ss') %>
            </div>
            <%-detail.noticeContent %>
            <div class="detail-file">附件：<a href="<%= detail.fileUrl %>" download="<%=detail.fileName %>"><%-detail.fileName %></a></div>
        </div>
        
    </div>
</div>

<%- include("../components/footer") -%>
