<%- include('../components/header', {title:title,active:'publicity'}); %>
<div class="sub-banner">院务公开</div>
<div class="main-content">
    <div class="info-content">
        <div class="info-content-path">
            <span>您的位置：</span>
            <a href="/">首页</a>
            <span>></span>
            <a href="/home/notice">公告通知</a>
            <span>></span>
            <a href="/home/publicity">院务公开</a>
            <span>></span>
            <span>详情</span>
        </div>
        <div class="detail-content">
            <div class="detail-content-title"><%-detail.noticeTitle %></div>
            <div class="detail-content-updatetime">发布时间：<%= moment(detail.createdAt).format('YYYY-MM-DD HH:mm:ss') %></div>
            <%-detail.noticeContent %>
        </div>
    </div>
</div>

<%- include("../components/footer") -%>
