<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title><%= title %>—三江人民医院官网</title>
	<link rel="stylesheet" type="text/css" href="/style/css/index.css">	
    <script type="text/javascript" src="/style/js/jquery.min.js"></script>	
</head>
<body>
	<div class="top-bar"></div>
	<!-- 导航 -->
	<div class="main-nav">
		<div class="main-content">
			<div class="logo fll"></div>
			<ul class="nav flr">
				<li class="<%= active=='about'?'active':'' %>"><a href="/home/about">联系我们</a></li>
				<li class="<%= active=='publicity'?'active':'' %>"><a href="/home/publicity">招标公示</a></li>
				<li class="<%= active=='notice'?'active':'' %>"><a href="/home/notice">招标公告</a></li>
				<li class="<%= active=='intro'?'active':'' %>"><a href="/home/intro">医院概况</a></li>
				<li class="<%= active=='index'?'active':'' %>"><a href="/">首页</a></li>
			</ul>
		</div>
	</div>